@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-white: #fcf8f4;
	--color-rubinas: #5a2230;
	--color-perlas: #efe8db;
	--color-border: #fff8f7;
}
h body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
