@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts/gambetta/css/gambetta.css');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
	--color-white: 30 57% 97%; /* #fcf8f4 */
	--color-rubinas: 345 45% 24%; /* #5a2230 */
	--color-perlas: 39 38% 90%; /* #efe8db */
	--color-border: 7 100% 98%; /* #fff8f7 */
}

body {
	margin: 0;
	font-family: 'Gambetta-Regular', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-family: 'ABeeZee', sans-serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: -0.04em;
	@media screen and (max-width: 1024px) {
		font-size: 32px;
	}
}

h2 {
	font-family: 'Gambetta-Regular', sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: -0.04em;
	@media screen and (max-width: 1024px) {
		font-size: 32px;
	}
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	letter-spacing: 3%;
	text-align: center;
	text-transform: uppercase;
	@media screen and (max-width: 1024px) {
		font-size: 12px;
	}
}

p {
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.02em;
	@media screen and (max-width: 1024px) {
		font-size: 18px;
	}
}

span {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	letter-spacing: 3%;
	text-align: center;
	text-transform: uppercase;
	@media screen and (max-width: 1024px) {
		font-size: 12px;
	}
}

button,
a {
	font-family: 'Lato', sans-serif;
}

a:hover {
	text-decoration: underline;
}
